* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*** HEADER ***/
header {
  text-align: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

header img {
  width: 98%;
  padding-top: 1%;
  height: 100%;
}

h1 {
  font-weight: 400;
  margin: 10px;
  text-align: center;
}

/*** ul universal ***/
ul {
  margin: 20px;
  list-style: none;
}

ul li {
  font-size: small;
  background-color: lightgrey;
  padding: 10px;
  margin: 2px;
}

/*** MENU ***/
.menu .active {
  color: white;
}

.menu a {
  padding: 10px;
  color: #050507;
  -webkit-transition: ease-in .2s;
  transition: ease-in .2s;
}

.menu:hover {
  background-color: darkgrey;
}

.menu li {
  display: list-item;
}

/*** Carousel INDEX ***/
.preview {
  font-size: small;
  margin: 5px 0px 5px 0px;
  text-align: center;
  background-color: rgba(160, 79, 16, 0.6);
  color: white;
}

.byside {
  float: left;
  width: 50%;
  padding: 5px;
}

/*** MAIN CONT ***/
.main-container {
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: 2 / 1 / 5 / 6;
  margin: 0 auto;
  width: 90%;
}

.main-container img {
  width: 100%;
  height: auto;
}

/***** GRID Style *****/
.gridContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  display: contents;
}

/* divisiones visibles  */
/*.gridContainer div{
    border: 1px solid black;
}*/
.headContainer {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: 1 / 1 / 2 / 6;
}

.servicios ul {
  font-size: small;
  padding: 10px;
  display: auto;
  margin: 2px;
  list-style: none;
}

.center {
  text-align: center;
}

.link:hover {
  background-color: darkgrey;
  color: black;
}

.legend {
  background-color: lightgray;
  text-align: center;
  color: black;
  font-size: large;
  margin: 10px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(yellow), to(#f18c1f));
  background-image: linear-gradient(yellow, #f18c1f);
}

.legend:hover {
  background-image: none;
  color: white;
  -webkit-transition: ease-in .4s;
  transition: ease-in .4s;
}

.title {
  color: black;
  padding-top: 20px;
}

.content {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
  background-color: blanchedalmond;
  color: darkblue;
  overflow: hidden;
}

.imgNosotros {
  width: 50%;
  margin: auto;
  padding: 10px;
}

.welcome {
  padding-top: 20px;
}

.black {
  color: black;
}

.options {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*** FORM y FOOTER ***/
.forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.form__contacto {
  margin: 20px;
  padding: 10px;
  width: 70%;
  background-color: rgba(160, 79, 16, 0.7);
  color: black;
  -webkit-box-shadow: 1px 2px 5px black;
          box-shadow: 1px 2px 5px black;
}

.form__contacto h4 {
  margin: 0px 10px 10px 10px;
  font-size: large;
}

.form__contacto p {
  width: 50%;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form__contacto .button {
  width: 100%;
  margin: 16px 0;
  padding: 10px;
  background-color: #bbc9a0;
}

.form__contacto .button:hover {
  background-color: green;
  color: white;
  font-weight: bold;
}

.sugerencia {
  background-color: rgba(61, 33, 11, 0.6);
}

.form__input {
  background-color: lightgray;
  border: 1px solid brown;
  margin-bottom: 10px;
  border-radius: 2px;
  width: 100%;
  padding: 10px;
  font-size: small;
  color: black;
}

.gracias {
  font-weight: bold;
}

.footer1 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: 5 / 1 / 6 / 6;
  color: black;
  font-size: small;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 3px 0px 3px 0px;
  background-color: rgba(160, 79, 16, 0.3);
  margin: 5px;
}

footer div {
  margin: 2px;
  width: 100%;
  height: auto;
  word-break: break-all;
}

.fitcontent {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

/*** MEDIA QUERY ***/
@media (min-width: 1000px) {
  .logoMarca .fotoMarca {
    width: 1000px;
  }
  .main-container {
    width: 900px;
  }
  .footerContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer1 {
    width: 1000px;
  }
}

/* responsive menu */
@media (min-width: 486px) {
  .menu li {
    display: inline-block;
  }
  .options {
    width: auto;
  }
}

/* responsive BIO IMG */
@media (max-width: 485px) {
  .imgNosotros {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .gridContainer div {
    padding: 5px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

@media (min-width: 1000px) {
  .byside {
    float: inherit;
    width: auto;
  }
}

@media (max-width: 430px) {
  .forms {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */